@import 'core.min';
@import 'style';
@import 'style_add';
@import 'template_styles';


.footer__subs_inner {
  .wpcf7-response-output {
    position: absolute;
    top: 1px;
    left: calc(50% - 150px);

    width: 300px;

    color: #fff;
    background: #323232;
  }
  .acceptance-373 {
    position: relative;

    display: inline-block;
    float: left;
    .wpcf7-acceptance {
      position: absolute;
      z-index: 9999;

      display: inline-block;

      opacity: 0;
    }
  }
}



.flag__acf {
  width: 2.5em;
  height: 1.4em;

  background-position: center center;
  background-size: cover;
}



.wpcf7 {
  .select__input {
    .wpcf7-form-control-wrap {
      &:after {
        font: 8px 'nb';

        position: absolute;
        top: calc(50% - 5px);
        right: 5px;

        display: inline-block;

        width: 20px;
        height: 10px;

        content: '\e802';

        color: #000;
      }
    }
  }
  .select__input,
  .text__input,
  .textarea__input {
    margin-bottom: 8px;
  }
  .textarea__input {
    .wpcf7-textarea {
      &:focus {
        height: 150px;
      }
    }
  }
  .btn__wrap {
    width: 220px;
    padding-top: 20px;
  }
}



//prod-slider
#product-slider {
  .owl-nav {
    position: absolute;
    z-index: 999999;
    top: 48%;
    right: 0;

    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    .owl-prev,
    .owl-next {
      z-index: 10;

      width: 36px;
      height: 60px;
      margin: 0;
      margin-top: -18px;
      padding: 0;

      cursor: pointer;

      background: #e21836;
      &:before {
        font-size: 20px;
        line-height: 60px;

        color: #fff;
      }
    }
    .owl-prev {
      float: left;
      &:before {
        font: 20px/60px 'nb';

        content: '\e827';

        color: #fff;
      }
    }
    .owl-next {
      float: right;
      &:before {
        font: 20px/60px 'nb';

        content: '\e814';

        color: #fff;
      }
    }
  }
  .owl-dots {
    position: relative;
    bottom: 0;
  }
}
.slider--fw .slide-background-image {
  height: 18vw;
}
.site_container h5 {
  font: 19px/25px 'AvantGardeGothicITC W10 Bold','Arial',sans-serif;
}
@media (max-width: 600px) {
  .slider--fw .slide-background-image {
    height: 40vw;
  }
}
@media (max-width: 1000px) {
  .slider--fw .slide-background-image {
    height: 26vw;
  }
}





//CUSTOM STYLES EASY SOCIAL ICONS
#before_content_icons {
  margin: 0 !important;
  padding: 0 !important;
  .cn-fa-icon {
    a {
      width: 25px !important;
      height: 25px !important;
      margin: 2px !important;
      padding: 3px !important;

      color: #fff;
      border-radius: 50% !important;
      background: #d8d8d8 !important;
      &:hover {
        background: #e21836 !important;
      }
      i {
        font-size: 16px !important;
      }
    }
  }
}

#footer_soc_icons {
  margin: 0 !important;
  padding: 0 !important;
  .cn-fa-icon {
    a {
      box-sizing: border-box;
      padding: 4px 0 0 -1px !important;

      color: #fff!important;
      border: 2px solid #fff!important;
      border-radius: 50% !important;
      background: transparent !important;
      &:hover {
        color: #e21836!important;
        border: 2px solid #e21836!important;
        background: transparent !important;
      }
      i {
        font-size: 16px !important;
      }
    }
  }
}

//FOOTER WIDGETS

.footer_widget {
  h6 {
    font: 14px/45px 'ITCAvantGardeGothicW10','Arial',sans-serif;
    line-height: 19px;

    position: relative;

    height: 45px;
    height: auto;
    margin: 0 0 16px;
    padding: 0;

    cursor: pointer;
    text-align: left;
    letter-spacing: .5px;
    text-transform: uppercase;

    color: #fff;
  }
  ul {
    display: block;

    height: auto;
    padding: 0;

    background-color: transparent;
    .sub-menu {
      display: none;
    }
  }
}


.rr-widget {
  font-family: Arial;

  box-sizing: border-box;
  width: 100%;

  outline: none;
  .widgettitle {
    font: 25px/35px 'ITCAvantGardeGothicW10', 'Arial', sans-serif;

    margin: 0 0 40px 0;

    text-align: center;
    letter-spacing: .5px;

    color: #232323;
  }
  .items {
    display: table;

    width: 100%;
    padding: 0;
  }
  .item {
    position: relative;

    display: inline-block;
    float: left;

    width: 20%;

    list-style: none;

    text-align: center;
    .block {
      padding: 15px;

      border: 1px solid transparent;
    }
    &:hover .block {
      border-color: #ccc;
    }
  }
}

.item-label {
  font: 9px/11px 'ITCAvantGardeGothicW10 Demi Bold', 'Arial', sans-serif;

  position: absolute;
  top: 15px;
  left: 15px;

  padding: 2px 4px 1px 4px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  background: #000;
  &:after {
    position: absolute;
    top: 0;
    right: -6px;

    display: inline;

    width: 0;
    height: 0;

    content: '';

    border-style: solid;
    border-color: #000 transparent transparent #000;
    border-top-width: 7px;
    border-right-width: 3px;
    border-bottom-width: 7px;
    border-left-width: 3px;
  }
}

.rr-widget {
  .item-image {
    line-height: 180px;

    overflow: hidden;

    width: 100%;
    height: 180px;
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      margin: 0 auto;

      vertical-align: middle;
    }
  }
  a.item-info {
    text-decoration: none;
  }
  .item-title {
    font: 14px/16px 'ITCAvantGardeGothicW10 Demi Bold', 'Arial', sans-serif;
    font-weight: normal;

    overflow: hidden;

    height: 43px;
    margin: 5px 0;
    margin-bottom: 10px;
    padding: 0 0 10px;

    text-align: center;
    letter-spacing: 0;

    color: #232323;
    border-bottom: 1px solid #ccc;
  }
}

.item-block-price {
  margin-bottom: 10px;
}

.rr-widget {
  .item-old-price {
    font: 12px/19px 'AvantGardeGothicITC W10 Bold', 'Arial', sans-serif;
    font-weight: normal;

    display: inline-block;

    margin-bottom: 0;

    text-decoration: line-through;
    letter-spacing: 0;

    color: #666;
  }
  .item-new-price {
    font: 12px/19px 'AvantGardeGothicITC W10 Bold', 'Arial', sans-serif;

    display: inline-block;

    margin-bottom: 0;

    letter-spacing: 0;

    color: #e21836;
  }
  .item-price {
    font: 12px/19px 'AvantGardeGothicITC W10 Bold', 'Arial', sans-serif;

    display: inline-block;

    margin-bottom: 0;

    letter-spacing: 0;

    color: #666;
  }
}

.item-price-currency {
  font-family: 'Rouble' !important;

  color: inherit;
}

.rr-widget .item-actions {
  line-height: 27px;

  display: none;

  width: 100%;
  margin-top: 5px;
  .item-actions-more {
    font-size: 15px;
    font-weight: normal;

    display: inline-block;

    text-decoration: underline;

    color: #0079bf;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      content: 'Подробнее';
    }
  }
  .item-actions-buy {
    font-size: 15px;
    font-weight: bold;

    display: inline-block;

    margin-left: 20px;
    padding: 5px 10px;

    text-align: center;

    color: #fff;
    border-radius: 4px;
    background-color: #388e3c;
    &:hover {
      background-color: #489e4c;
    }
    &::after {
      content: 'Купить';
    }
  }
}

@media all and (max-width: 1024px) {
  .rr-widget .item {
    width: 33%;
  }
}

@media all and (max-width: 600px) {
  .rr-widget .item {
    width: 50%;
  }
}

#rr-500popup-message span {
  font-family: 'Circe Regular', Sans-Serif;
  font-size: 16px;
  line-height: 105%;

  text-align: left;
  text-transform: uppercase;

  color: #515151;
}

#rr-500popup .rr-error {
  border-color: red;
}

#rr-500popup-message {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  display: none;

  width: 500px;
  padding: 40px;

  transform: translate(-50%, -50%);

  border: 1px solid #e21836;
  background-color: #fff;
  .retailrocket-close-message {
    font-size: 20px;

    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.retailrocket-subscribe-widget {
  border-top: 1px solid #e5e5e5;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  form.retailrocket-subscribe-form {
    .retailrocket-subscribe-info,
    .retailrocket-subscribe-input-checkbox {
      color: #232323;
    }
  }
}

.retailrocket-subscribe-input-text {
  position: relative;
  &:after,
  &:before {
    position: absolute;
    top: 0;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border-style: solid;
  }
  &:after {
    right: -18px;

    border-width: 36px 18px 0 0;
    border-color: #000 transparent transparent;
  }
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-text #rr-500popup-email {
  font-size: 15px;

  display: block;

  height: 36px;
  padding: 11.5px 48px 11.5px 15px;

  cursor: pointer;
  text-decoration: none;

  color: #fff;
  border: 0;
  background: #000;
}

.retailrocket-subscribe-input-text:before {
  left: -18px;

  border-width: 0 0 36px 18px;
  border-color: transparent transparent #000;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form {
  .retailrocket-subscribe-input-submit {
    position: relative;
    #rr-500popup-btn {
      font-size: 15px;

      display: block;

      height: 36px;

      cursor: pointer;
      text-decoration: none;

      color: #fff;
      border: 0;
      background-color: #e21836;
    }
    &:before {
      left: -18px;

      border-width: 0 0 36px 18px;
      border-color: transparent transparent #e21836;
    }
    &:after,
    &:before {
      position: absolute;
      top: 0;

      display: block;

      width: 0;
      height: 0;

      content: '';

      border-style: solid;
    }
    &:after {
      right: -18px;

      border-width: 36px 18px 0 0;
      border-color: #e21836 transparent transparent;
    }
  }
  a.retailrocket-close {
    line-height: 31px;

    color: #232323;
  }
}

.retailrocket input[type=checkbox] {
  display: block;
  float: left;

  margin-top: 4px;
  margin-right: 5px;

  vertical-align: middle;
}

.retailrocket-subscribe-widget {
  .retailrocket-subscribe-input-checkbox {
    padding-top: 8px;
    padding-bottom: 8px;
    label {
      display: table;
    }
  }
  .retailrocket-subscribe-info {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  font-size: 15px;
}

.retailrocket-theme form.retailrocket-subscribe-form a.retailrocket-close {
  line-height: 31px;

  color: #fff;
}

.retailrocket-notify-widget {
  .retailrocket-widget {
    background-color: #fff;
  }
  .retailrocket-widgettitle {
    position: relative;
    span {
      font-family: 'Trebuchet MS';
      font-size: 16px;
      font-weight: 400;

      position: relative;
      left: -4px;

      display: inline;

      margin: 0;
      padding: 0 10px;

      letter-spacing: 3.6px;
      text-transform: uppercase;

      color: #000;
    }
  }
  .widgettitle {
    font: 25px/35px ITCAvantGardeGothicW10, Arial, sans-serif;

    padding: 20px 0;

    text-align: center;
    letter-spacing: .5px;

    color: #232323;
  }
  .items {
    display: table;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .item {
    position: relative;

    display: inline-block;
    float: left;

    width: 240px;

    list-style: none;

    text-align: center;
    .block {
      padding: 15px;

      border: 1px solid transparent;
    }
    &:hover .block {
      border-color: #ccc;
    }
  }
  .item-label {
    font: 9px/11px 'ITCAvantGardeGothicW10 Demi Bold', Arial, sans-serif;

    position: absolute;
    top: 15px;
    left: 15px;

    padding: 2px 4px 1px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    background: #000;
    &:after {
      position: absolute;
      top: 0;
      right: -6px;

      display: inline;

      width: 0;
      height: 0;

      content: '';

      border-width: 7px 3px;
      border-style: solid;
      border-color: #000 transparent transparent #000;
    }
  }
  .item-image {
    line-height: 180px;

    overflow: hidden;

    width: 100%;
    height: 180px;
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      margin: 0 auto;

      vertical-align: middle;
    }
  }
  a.item-info {
    text-decoration: none;
  }
  .item-title {
    font: 14px/16px 'ITCAvantGardeGothicW10 Demi Bold', Arial, sans-serif;
    font-weight: 400;

    overflow: hidden;

    height: 43px;
    margin: 5px 0;
    margin-bottom: 10px;
    padding: 0 0 10px;

    text-align: center;
    letter-spacing: 0;

    color: #232323;
    border-bottom: 1px solid #ccc;
  }
  .item-block-price {
    margin-bottom: 10px;
  }
  .item-old-price {
    font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;

    display: inline-block;

    margin-bottom: 0;

    text-decoration: line-through;
    letter-spacing: 0;

    color: #666;
  }
  .item-price {
    font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;

    display: inline-block;

    margin-bottom: 0;

    letter-spacing: 0;

    color: #666;
  }
  .item-price-currency {
    font-family: 'Rouble' !important;

    color: inherit;
  }
  .item-actions {
    line-height: 27px;

    display: none;

    width: 100%;
    margin-top: 5px;
    .item-actions-more {
      font-size: 15px;
      font-weight: 400;

      display: inline-block;

      text-decoration: underline;

      color: #0079bf;
      &:hover {
        text-decoration: underline;
      }
      &::after {
        content: 'Подробнее';
      }
    }
    .item-actions-buy {
      font-size: 15px;
      font-weight: 700;

      display: inline-block;

      margin-left: 20px;
      padding: 5px 10px;

      text-align: center;

      color: #fff;
      border-radius: 4px;
      background-color: #388e3c;
      &:hover {
        background-color: #489e4c;
      }
      &::after {
        content: 'Купить';
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .retailrocket-subscribe-widget .retailrocket-subscribe-form > :first-child {
    width: 100%;
    margin: 0 !important;

    text-align: right;
  }
}


//Single page
#rr-500popup-message span {
  font-family: 'Circe Regular', Sans-Serif;
  font-size: 16px;
  line-height: 105%;

  text-align: left;
  text-transform: uppercase;

  color: #515151;
}

#rr-500popup .rr-error {
  border-color: red;
}

#rr-500popup-message {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  display: none;

  width: 500px;
  padding: 40px;

  transform: translate(-50%, -50%);

  border: 1px solid #e21836;
  background-color: #fff;
}

#rr-500popup-message .retailrocket-close-message {
  font-size: 20px;

  position: absolute;
  top: 5px;
  right: 5px;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-info {
  color: #232323;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-checkbox {
  color: #232323;
}

.retailrocket-subscribe-widget {
  border-top: 1px solid #e5e5e5;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.retailrocket-subscribe-input-text {
  position: relative;
}

.retailrocket-subscribe-input-text:after,
.retailrocket-subscribe-input-text:before {
  position: absolute;
  top: 0;

  display: block;

  width: 0;
  height: 0;

  content: '';

  border-style: solid;
}

.retailrocket-subscribe-input-text:after {
  right: -18px;

  border-width: 36px 18px 0 0;
  border-color: #000 transparent transparent;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-text #rr-500popup-email {
  font-size: 15px;

  display: block;

  height: 36px;
  padding: 11.5px 48px 11.5px 15px;

  cursor: pointer;
  text-decoration: none;

  color: #fff;
  border: 0;
  background: #000;
}

.retailrocket-subscribe-input-text:before {
  left: -18px;

  border-width: 0 0 36px 18px;
  border-color: transparent transparent #000;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit #rr-500popup-btn {
  font-size: 15px;

  display: block;

  height: 36px;

  cursor: pointer;
  text-decoration: none;

  color: #fff;
  border: 0;
  background-color: #e21836;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit {
  position: relative;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit:before {
  left: -18px;

  border-width: 0 0 36px 18px;
  border-color: transparent transparent #e21836;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit:after,
.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit:before {
  position: absolute;
  top: 0;

  display: block;

  width: 0;
  height: 0;

  content: '';

  border-style: solid;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit:after {
  right: -18px;

  border-width: 36px 18px 0 0;
  border-color: #e21836 transparent transparent;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form a.retailrocket-close {
  line-height: 31px;

  color: #232323;
}

.retailrocket input[type=checkbox] {
  display: block;
  float: left;

  margin-top: 4px;
  margin-right: 5px;

  vertical-align: middle;
}

.retailrocket-subscribe-widget .retailrocket-subscribe-input-checkbox label {
  display: table;
}

.retailrocket-subscribe-widget .retailrocket-subscribe-input-checkbox,
.retailrocket-subscribe-widget .retailrocket-subscribe-info {
  padding-top: 8px;
  padding-bottom: 8px;
}

::-webkit-input-placeholder {
  font-size: 15px;
}

::-moz-placeholder {
  font-size: 15px;
}

:-moz-placeholder {
  font-size: 15px;
}

:-ms-input-placeholder {
  font-size: 15px;
}

.retailrocket-theme form.retailrocket-subscribe-form a.retailrocket-close {
  line-height: 31px;

  color: #fff;
}

.retailrocket-notify-widget .retailrocket-widget {
  background-color: #fff;
}

.retailrocket-notify-widget .retailrocket-widgettitle {
  position: relative;
}

.retailrocket-notify-widget .retailrocket-widgettitle span {
  font-family: 'Trebuchet MS';
  font-size: 16px;
  font-weight: 400;

  position: relative;
  left: -4px;

  display: inline;

  margin: 0;
  padding: 0 10px;

  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: #000;
}

.retailrocket-notify-widget .widgettitle {
  font: 25px/35px ITCAvantGardeGothicW10, Arial, sans-serif;

  padding: 20px 0;

  text-align: center;
  letter-spacing: .5px;

  color: #232323;
}

.retailrocket-notify-widget .items {
  display: table;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.retailrocket-notify-widget .item {
  position: relative;

  display: inline-block;
  float: left;

  width: 240px;

  list-style: none;

  text-align: center;
}

.retailrocket-notify-widget .item .block {
  padding: 15px;

  border: 1px solid transparent;
}

.retailrocket-notify-widget .item:hover .block {
  border-color: #ccc;
}

.retailrocket-notify-widget .item-label {
  font: 9px/11px 'ITCAvantGardeGothicW10 Demi Bold', Arial, sans-serif;

  position: absolute;
  top: 15px;
  left: 15px;

  padding: 2px 4px 1px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  background: #000;
}

.retailrocket-notify-widget .item-label:after {
  position: absolute;
  top: 0;
  right: -6px;

  display: inline;

  width: 0;
  height: 0;

  content: '';

  border-width: 7px 3px;
  border-style: solid;
  border-color: #000 transparent transparent #000;
}

.retailrocket-notify-widget .item-image {
  line-height: 180px;

  overflow: hidden;

  width: 100%;
  height: 180px;
}

.retailrocket-notify-widget .item-image img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;

  vertical-align: middle;
}

.retailrocket-notify-widget a.item-info {
  text-decoration: none;
}

.retailrocket-notify-widget .item-title {
  font: 14px/16px 'ITCAvantGardeGothicW10 Demi Bold', Arial, sans-serif;
  font-weight: 400;

  overflow: hidden;

  height: 43px;
  margin: 5px 0;
  margin-bottom: 10px;
  padding: 0 0 10px;

  text-align: center;
  letter-spacing: 0;

  color: #232323;
  border-bottom: 1px solid #ccc;
}

.retailrocket-notify-widget .item-block-price {
  margin-bottom: 10px;
}

.retailrocket-notify-widget .item-old-price {
  font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;

  display: inline-block;

  margin-bottom: 0;

  text-decoration: line-through;
  letter-spacing: 0;

  color: #666;
}

.retailrocket-notify-widget .item-price {
  font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;

  display: inline-block;

  margin-bottom: 0;

  letter-spacing: 0;

  color: #666;
}

.retailrocket-notify-widget .item-price-currency {
  font-family: 'Rouble'!important;

  color: inherit;
}

.retailrocket-notify-widget .item-actions {
  line-height: 27px;

  display: none;

  width: 100%;
  margin-top: 5px;
}

.retailrocket-notify-widget .item-actions .item-actions-more {
  font-size: 15px;
  font-weight: 400;

  display: inline-block;

  text-decoration: underline;

  color: #0079bf;
}

.retailrocket-notify-widget .item-actions .item-actions-more:hover {
  text-decoration: underline;
}

.retailrocket-notify-widget .item-actions .item-actions-more::after {
  content: 'Подробнее';
}

.retailrocket-notify-widget .item-actions .item-actions-buy {
  font-size: 15px;
  font-weight: 700;

  display: inline-block;

  margin-left: 20px;
  padding: 5px 10px;

  text-align: center;

  color: #fff;
  border-radius: 4px;
  background-color: #388e3c;
}

.retailrocket-notify-widget .item-actions .item-actions-buy:hover {
  background-color: #489e4c;
}

.retailrocket-notify-widget .item-actions .item-actions-buy::after {
  content: 'Купить';
}

@media screen and (max-width: 1000px) {
  .retailrocket-subscribe-widget .retailrocket-subscribe-form > :first-child {
    width: 100%;
    margin: 0!important;

    text-align: right;
  }
}
//single-product
.rr-widget {
  font-family: Arial;

  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  outline: none;
}

.rr-widget .widgettitle {
  font: 25px/35px ITCAvantGardeGothicW10, Arial, sans-serif;

  margin: 0 0 40px;
  padding-right: 15px;
  padding-left: 15px;

  text-align: left;
  letter-spacing: .5px;

  color: #232323;
}

.rr-widget .items {
  display: table;

  width: 100%;
  padding: 0;
}

.rr-widget .item {
  position: relative;

  display: inline-block;
  float: left;

  width: 20%;

  list-style: none;

  text-align: center;
}

.rr-widget .item .block {
  padding: 15px;

  border: 1px solid transparent;
}

.rr-widget .item:hover .block {
  border-color: #ccc;
}

.item-label {
  font: 9px/11px 'ITCAvantGardeGothicW10 Demi Bold', Arial, sans-serif;

  position: absolute;
  top: 15px;
  left: 15px;

  padding: 2px 4px 1px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  background: #000;
}

.item-label:after {
  position: absolute;
  top: 0;
  right: -6px;

  display: inline;

  width: 0;
  height: 0;

  content: '';

  border-width: 7px 3px;
  border-style: solid;
  border-color: #000 transparent transparent #000;
}

.rr-widget .item-image {
  line-height: 180px;

  overflow: hidden;

  width: 100%;
  height: 180px;
}

.rr-widget .item-image img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;

  vertical-align: middle;
}

.rr-widget a.item-info {
  text-decoration: none;
}

.rr-widget .item-title {
  font: 14px/16px 'ITCAvantGardeGothicW10 Demi Bold', Arial, sans-serif;
  font-weight: 400;

  overflow: hidden;

  height: 43px;
  margin: 5px 0;
  margin-bottom: 10px;
  padding: 0 0 10px;

  text-align: center;
  letter-spacing: 0;

  color: #232323;
  border-bottom: 1px solid #ccc;
}

.item-block-price {
  margin-bottom: 10px;
}

.rr-widget .item-old-price {
  font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;
  font-weight: 400;

  display: inline-block;

  margin-bottom: 0;

  text-decoration: line-through;
  letter-spacing: 0;

  color: #666;
}

.rr-widget .item-new-price {
  font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;

  display: inline-block;

  margin-bottom: 0;

  letter-spacing: 0;

  color: #e21836;
}

.rr-widget .item-price {
  font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;

  display: inline-block;

  margin-bottom: 0;

  letter-spacing: 0;

  color: #666;
}

.item-price-currency {
  font-family: 'Rouble'!important;

  color: inherit;
}

.rr-widget .item-actions {
  line-height: 27px;

  display: none;

  width: 100%;
  margin-top: 5px;
}

.rr-widget .item-actions .item-actions-more {
  font-size: 15px;
  font-weight: 400;

  display: inline-block;

  text-decoration: underline;

  color: #0079bf;
}

.rr-widget .item-actions .item-actions-more:hover {
  text-decoration: underline;
}

.rr-widget .item-actions .item-actions-more::after {
  content: 'Подробнее';
}

.rr-widget .item-actions .item-actions-buy {
  font-size: 15px;
  font-weight: 700;

  display: inline-block;

  margin-left: 20px;
  padding: 5px 10px;

  text-align: center;

  color: #fff;
  border-radius: 4px;
  background-color: #388e3c;
}

.rr-widget .item-actions .item-actions-buy:hover {
  background-color: #489e4c;
}

.rr-widget .item-actions .item-actions-buy::after {
  content: 'Купить';
}

@media all and (max-width: 1024px) {
  .rr-widget .item {
    width: 33%;
  }
}

@media all and (max-width: 600px) {
  .rr-widget .item {
    width: 50%;
  }
}


//CATALOG

#rr-500popup-message span {
  font-family: 'Circe Regular', Sans-Serif;
  font-size: 16px;
  line-height: 105%;

  text-align: left;
  text-transform: uppercase;

  color: #515151;
}

#rr-500popup .rr-error {
  border-color: red;
}

#rr-500popup-message {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  display: none;

  width: 500px;
  padding: 40px;

  transform: translate(-50%, -50%);

  border: 1px solid #e21836;
  background-color: #fff;
}

#rr-500popup-message .retailrocket-close-message {
  font-size: 20px;

  position: absolute;
  top: 5px;
  right: 5px;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-info {
  color: #232323;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-checkbox {
  color: #232323;
}

.retailrocket-subscribe-widget {
  border-top: 1px solid #e5e5e5;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.retailrocket-subscribe-input-text {
  position: relative;
}

.retailrocket-subscribe-input-text:after,
.retailrocket-subscribe-input-text:before {
  position: absolute;
  top: 0;

  display: block;

  width: 0;
  height: 0;

  content: '';

  border-style: solid;
}

.retailrocket-subscribe-input-text:after {
  right: -18px;

  border-width: 36px 18px 0 0;
  border-color: #000 transparent transparent;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-text #rr-500popup-email {
  font-size: 15px;

  display: block;

  height: 36px;
  padding: 11.5px 48px 11.5px 15px;

  cursor: pointer;
  text-decoration: none;

  color: #fff;
  border: 0;
  background: #000;
}

.retailrocket-subscribe-input-text:before {
  left: -18px;

  border-width: 0 0 36px 18px;
  border-color: transparent transparent #000;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit #rr-500popup-btn {
  font-size: 15px;

  display: block;

  height: 36px;

  cursor: pointer;
  text-decoration: none;

  color: #fff;
  border: 0;
  background-color: #e21836;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit {
  position: relative;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit:before {
  left: -18px;

  border-width: 0 0 36px 18px;
  border-color: transparent transparent #e21836;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit:after,
.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit:before {
  position: absolute;
  top: 0;

  display: block;

  width: 0;
  height: 0;

  content: '';

  border-style: solid;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit:after {
  right: -18px;

  border-width: 36px 18px 0 0;
  border-color: #e21836 transparent transparent;
}

.retailrocket-subscribe-widget form.retailrocket-subscribe-form a.retailrocket-close {
  line-height: 31px;

  color: #232323;
}

.retailrocket input[type=checkbox] {
  display: block;
  float: left;

  margin-top: 4px;
  margin-right: 5px;

  vertical-align: middle;
}

.retailrocket-subscribe-widget .retailrocket-subscribe-input-checkbox label {
  display: table;
}

.retailrocket-subscribe-widget .retailrocket-subscribe-input-checkbox,
.retailrocket-subscribe-widget .retailrocket-subscribe-info {
  padding-top: 8px;
  padding-bottom: 8px;
}

::-webkit-input-placeholder {
  font-size: 15px;
}

::-moz-placeholder {
  font-size: 15px;
}

:-moz-placeholder {
  font-size: 15px;
}

:-ms-input-placeholder {
  font-size: 15px;
}

.retailrocket-theme form.retailrocket-subscribe-form a.retailrocket-close {
  line-height: 31px;

  color: #fff;
}

.retailrocket-notify-widget .retailrocket-widget {
  background-color: #fff;
}

.retailrocket-notify-widget .retailrocket-widgettitle {
  position: relative;
}

.retailrocket-notify-widget .retailrocket-widgettitle span {
  font-family: 'Trebuchet MS';
  font-size: 16px;
  font-weight: 400;

  position: relative;
  left: -4px;

  display: inline;

  margin: 0;
  padding: 0 10px;

  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: #000;
}

.retailrocket-notify-widget .widgettitle {
  font: 25px/35px ITCAvantGardeGothicW10, Arial, sans-serif;

  padding: 20px 0;

  text-align: center;
  letter-spacing: .5px;

  color: #232323;
}

.retailrocket-notify-widget .items {
  display: table;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.retailrocket-notify-widget .item {
  position: relative;

  display: inline-block;
  float: left;

  width: 240px;

  list-style: none;

  text-align: center;
}

.retailrocket-notify-widget .item .block {
  padding: 15px;

  border: 1px solid transparent;
}

.retailrocket-notify-widget .item:hover .block {
  border-color: #ccc;
}

.retailrocket-notify-widget .item-label {
  font: 9px/11px 'ITCAvantGardeGothicW10 Demi Bold', Arial, sans-serif;

  position: absolute;
  top: 15px;
  left: 15px;

  padding: 2px 4px 1px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  background: #000;
}

.retailrocket-notify-widget .item-label:after {
  position: absolute;
  top: 0;
  right: -6px;

  display: inline;

  width: 0;
  height: 0;

  content: '';

  border-width: 7px 3px;
  border-style: solid;
  border-color: #000 transparent transparent #000;
}

.retailrocket-notify-widget .item-image {
  line-height: 180px;

  overflow: hidden;

  width: 100%;
  height: 180px;
}

.retailrocket-notify-widget .item-image img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;

  vertical-align: middle;
}

.retailrocket-notify-widget a.item-info {
  text-decoration: none;
}

.retailrocket-notify-widget .item-title {
  font: 14px/16px 'ITCAvantGardeGothicW10 Demi Bold', Arial, sans-serif;
  font-weight: 400;

  overflow: hidden;

  height: 43px;
  margin: 5px 0;
  margin-bottom: 10px;
  padding: 0 0 10px;

  text-align: center;
  letter-spacing: 0;

  color: #232323;
  border-bottom: 1px solid #ccc;
}

.retailrocket-notify-widget .item-block-price {
  margin-bottom: 10px;
}

.retailrocket-notify-widget .item-old-price {
  font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;

  display: inline-block;

  margin-bottom: 0;

  text-decoration: line-through;
  letter-spacing: 0;

  color: #666;
}

.retailrocket-notify-widget .item-price {
  font: 12px/19px 'AvantGardeGothicITC W10 Bold', Arial, sans-serif;

  display: inline-block;

  margin-bottom: 0;

  letter-spacing: 0;

  color: #666;
}

.retailrocket-notify-widget .item-price-currency {
  font-family: 'Rouble'!important;

  color: inherit;
}

.retailrocket-notify-widget .item-actions {
  line-height: 27px;

  display: none;

  width: 100%;
  margin-top: 5px;
}

.retailrocket-notify-widget .item-actions .item-actions-more {
  font-size: 15px;
  font-weight: 400;

  display: inline-block;

  text-decoration: underline;

  color: #0079bf;
}

.retailrocket-notify-widget .item-actions .item-actions-more:hover {
  text-decoration: underline;
}

.retailrocket-notify-widget .item-actions .item-actions-more::after {
  content: 'Подробнее';
}

.retailrocket-notify-widget .item-actions .item-actions-buy {
  font-size: 15px;
  font-weight: 700;

  display: inline-block;

  margin-left: 20px;
  padding: 5px 10px;

  text-align: center;

  color: #fff;
  border-radius: 4px;
  background-color: #388e3c;
}

.retailrocket-notify-widget .item-actions .item-actions-buy:hover {
  background-color: #489e4c;
}

.retailrocket-notify-widget .item-actions .item-actions-buy::after {
  content: 'Купить';
}

@media screen and (max-width: 1000px) {
  .retailrocket-subscribe-widget .retailrocket-subscribe-form > :first-child {
    width: 100%;
    margin: 0!important;

    text-align: right;
  }
}



.rr-widget .widgettitle {
  text-align: center;
}
