@charset "UTF-8";

.filter__body_group .list__item.list__item-noitems a:after {
  content: "";
}

.input-flat.select span.error {
  margin: 0 !important;
}

.cart__item_error, .form__error {
  font-style: normal;
  display: none;
  padding: 10px 12px;
  margin-top: 15px;
  margin-bottom: 1.5625em;
  font-size: 12px;
  font-weight: normal;
  background: #fee834;
  color: #000;
}

.form__success {
  font-style: normal;
  padding: 10px 12px;
  margin-top: 15px;
  margin-bottom: 1.5625em;
  font-size: 12px;
  font-weight: normal;
}

.social .popup__box {
  max-height: 280px;
  max-width: 600px;
}

.site_container .input-help.select .chosen-container {
  border: 1px solid #E5E5E5;
}

.input-flat--no-margin .error {
  margin-top: 0px !important;
}

.search__dd {
  z-index: 2;
}

.search__dd-inner {
  background: rgba(35, 35, 35, 0.95);
  padding: 15px 0;
}

/* selector position */

.selectors__popup.right {
  right: 0px;
  left: auto;
}

.right.selectors__popup:after {
  right: 20px;
  left: auto;
}

.selectors__popup.middle {
  right: -68px;
  left: auto;
}

.middle.selectors__popup:after {
  right: 88px;
  left: auto;
}

/* checkbox block for forms */

.form__row .input-flat.checkbox {
  .checkbox-item {
    margin: 0;
    line-height: 26px;
  }

  .checkbox-row-label {
    margin: 10px 0;
  }
}

.quest .quest__empty {
  margin: 50px 0;
  text-align: center;
}

/* banner in profile */

.account .banner__triple {
  margin-bottom: 23px;
}

.banner__triple {
  a {
    display: block;
    position: relative;
  }

  img {
    display: none;
    width: 100%;
    height: auto;

    &:first-child {
      display: block;
    }
  }
}

@media print, only screen and (min-width: 500px) {
  .banner__triple img {
    display: block;

    &:first-child, &:last-child {
      display: none;
    }
  }
}

@media print, only screen and (min-width: 768px) {
  .banner__triple img {
    display: none;

    &:last-child {
      display: block;
    }
  }
}

.footer__subs_form .error span.error {
  margin-top: 0;
}

@media only screen {
  .hide-on-mobile-inline {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .hide-on-desktop-inline {
    display: none !important;
  }

  .hide-on-mobile-inline {
    display: inline !important;
  }
}

.radio input[type="radio"] + label {
  height: auto;
  max-height: 52px;
}

iframe[name="google_conversion_frame"] {
  display: none;
}

nav {
  .list__item--red a, a.list__item--activelink {
    color: #E21836;

    &:hover {
      color: #232323;
    }
  }
}

.item .price__old {
  color: #666666;
}

.catalog .banner a {
  height: 350px;
}

.item__info_metadata--black {
  color: #232323;
}

.vote__labels .active span {
  background: #3C92CD;
}

@media print, only screen and (min-width: 768px) and (max-width: 960px) {
  .item__slider .swiper-slide {
    max-height: 546px;
  }
}

@media print, only screen and (min-width: 500px) and (max-width: 767px) {
  .item__slider .swiper-slide {
    max-height: 460px;
  }
}

@media print, only screen and (min-width: 320px) and (max-width: 499px) {
  .item__slider .swiper-slide {
    max-height: 296px;
  }
}

.item__not-available {
  margin-top: 16px;
}

/* Preloader */

.swiper-loader {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/loader.gif") no-repeat center center rgba(255, 255, 255, 0.8);
  }
}

.account-menu.account--hide-label {
  .account-label, a:before {
    display: none;
  }

  [class*='nb'] {
    margin-right: 0px;
  }
}

.minicart.minicart--hide-price .price {
  display: none;
}

@media print, only screen and (min-width: 960px) {
  .account-menu.account--hide-label {
    margin-right: 20px;
  }
}

/* NEW */

.phone-top {
  padding-left: 31px;
  background: url(/img/phonetop.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position-y: 15px;
  display: none;
}

.mapshops {
  padding-left: 31px;
  background: url(/img/maptop.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position-y: 16px;
}

.map-left {
  width: 65%;
  float: left;
  margin-right: 2%;
}

.map-right {
  width: 33%;
  float: right;
}

.two-block-map {
  margin-bottom: 60px;
}

.clear {
  clear: both;
}
